@charset "utf-8";
body{
background-color:#FFF8DC;
font-family:sans-serif;
}

h1{
font-family:sans-serif;
color:#8A2BE2;
}
h2{
color:MidnightBlue;
}
.okari{
width:600px;
height:300px;
}
.rupiko{
width:200px;
height:250px;
}
.huhuhuhuran{
width:400px;
height:250px;
}
.uran{
color:red;
}
.matchan{
color:orange;
}
.kondo{
color:blue;
}
.micra{
width:500px;
height:250px;
}
.terapad{
width:800px;
height:400px;
}
.papers{
width:500px;
height:250px;
}
.rainbow{
width:800px;
height:400px;
}
footer{
background-color:#ced1d3;
height:30px;
width:100%;
font-size:20px;
font-family:fantasy;
}

